#wrapper 
  .question
    %h1{"class"=>"title"}あなたの今日の昼食は？
    %ul{"class"=>"questions"}
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q1. こってりしたものが食べたい
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q01", :class=>"inputY"}
          YES 
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q01", :class=>"inputN"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q2. 時間がないからすぐに食べたい
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q02", :class=>"inputY"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q02", :class=>"inputN"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q3. お腹が空いたからガッツリ食べたい
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q03", :class=>"inputY"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q03", :class=>"inputN"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q4. 節約中だから安くおさえたい。
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q04", :class=>"inputY"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q04", :class=>"inputN"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q5. ダイエット中だからヘルシーに済ませたい
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q05", :class=>"inputY"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q05", :class=>"inputN"}
          NO
    %button
      診断する
  .resultResultA
    %h2{"class"=>"recommend"}あなたにオススメの昼食は...
    .resultResultA__menu
      .resultResultA__menu__text
        和食
    %p
      ヘルシーに済ませたいあなたには和食がオススメ！一汁三菜の定食メニューだとなおバランスよし。
  .resultResultB
    %h2{"class"=>"recommend"}あなたにオススメの昼食は...
    .resultResultB__menu
      .resultResultB__menu__text
      ファーストフード
    %p
      手軽にお腹を満たしたいあなたにはファストフードがオススメ！牛丼やハンバーガーでお腹を満たしましょう。
  .resultResultC
    %h2{"class"=>"recommend"}あなたにオススメの昼食は...
    .resultResultC__menu
      .resultResultC__menu__text
      中華
    %p
      こってり満腹メニューを食べたいあなたには中華がオススメ！胃もたれが心配なときはウーロン茶を添えて。
  .resultResultD
    %h2{"class"=>"recommend"}あなたにオススメの昼食は...
    .resultResultD__menu
      .resultResultD__menu__text
      自炊
    %p
      安くヘルシーに済ませたいあなたには自炊がオススメ！頑張ってお弁当を作りましょう。


