#wrapper 
  .question
    %h1{"class"=>"title"}プログラマー適正テスト
    %ul{"class"=>"questions"}
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q1. IT、最新技術について興味がある
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q01", :class=>"typeA typeB typeC"}
          YES 
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q01", :class=>"typeC typeD typeE"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q2. 物事の因果関係を考えるのが苦手
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q02", :class=>"typeC typeD typeE"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q02", :class=>"typeA typeB typeC"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q3. 自分はめんどくさがり屋だ
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q03", :class=>"typeA typeC"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q03", :class=>"typeB typeC typeD typeE"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q4. スポーツや体を動かす事が好き
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q04", :class=>"typeA typeB typeC"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q04", :class=>"typeC typeD typeE"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q5. 小学生の頃、工作が好きだった
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q05", :class=>"typeA typeB typeC"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q05", :class=>"typeD typeE"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q6. なんでも自力で解決しようとする
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q06", :class=>"typeE"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q06", :class=>"typeA typeB typeC typeD"}
          NO
      %li{"class"=>"textBox"}
        %span{"class"=>"text"}Q7. なにごとも疑問を抱かない
        %label{"class"=>"yes"}
          %input{:type=> "radio", :name=> "q07", :class=>"typeE"}
          YES
        %label{"class"=>"no"}
          %input{:type=> "radio", :name=> "q07", :class=>"typeA typeB typeC typeD"}
          NO
    %button
      診断する
  .result.ResultA
    .ResultA__recommend あなたのプログラマー適正は・・・・
    .ResultA__Amenu
      .ResultA__Amenu__text
        適正度100％ [ビルゲイツ レベル]
    %p
      いますぐプログラミングの勉強を始めてGAFA入社を目指そう！
  .result.ResultB
    .ResultB__recommend あなたのプログラマー適正は・・・・
    .ResultB__Bmenu
      .ResultB__Bmenu__text
        適性度75％  [ザッカーバーグ レベル]
    %p
      将来のエリートプログラマー候補生。素質は充分にあります！
  .result.ResultC
    .ResultC__recommend あなたのプログラマー適正は・・・・
    .ResultC__Cmenu
      .ResultC__Cmenu__text
        適性度50%  [前沢社長 レベル]
    %p
      プログラマー視点を持ったビジネスマンを目指しましょう！
  .result.ResultD
    .ResultD__recommend あなたのプログラマー適正は・・・・
    .ResultD__Dmenu
      .ResultD__Dmenu__text
        適性度25% [ドンキホーテ社長レベル]
    %p
      プログラミングの知識を教養として学ぶ事をおすすめします！
  .result.ResultE
    .ResultE__recommend あなたのプログラマー適正は・・・・
    .ResultE__Emenu
      .ResultE__Emenu__text
        適性度0% [縄文人レベル]
    %p
      プログラミング以外の道を目指しましょう！


